body {
  margin: 0;
  font-family: 'Space Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #209d5c;
  text-align: center;
}

code {
  font-family: 'Space Mono', monospace;
}

.logoTitle {
  display: flex;
  justify-content: space-between;
  width: 45%;
  align-items: center;
}

.imagenKingBank {
  width: 150px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.space{
  margin-right: 10px;
}

.containerInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainer2 {
  position: relative;
}

.inputContainer1 {
  position: relative;
}

.inputLogo {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-45%);
}

input {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: #209d5c;
}

input:focus, input::placeholder, input:valid {
  color: #fff;
}

.imagenLogo {
  width: 20px;
}

.containerRegisterLogin {
  display: flex;
  flex-direction: column;
}

.botonLogin {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  width: 120px;
  height: 35px;
}

.botonLogin:hover {
  background-color: #fff;
  color: black;
}

.botonRegister {
  border: none;
  background-color: transparent;
  color: #fff;  
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  width: 100%;
  padding: 0.5%;
}

.footerText {
  font-weight: bold;
}

.formMax {
  width: 100%;
  justify-content: flex-end;
}

.anuncios {
  width: 90%;
  height: 550px;
}

.contenedorRegistro {
  display: flex;
  justify-content: center;
}

.formRegistro {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  height: auto;
}

.buttonRegister {
  border-radius: 10px;
  color: #fff;
  background-color: #209d5c;
  border-color: #209d5c;
  margin-bottom: 15px;
  padding: 0px 10px 0px 10px;
}

.buttonRegister:hover {
  border-radius: 10px;
  color: #209d5c;
  background-color: #fff;
  border-color: #209d5c;
  margin-bottom: 15px;
}

.inputFormulario {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
}

.inputFormulario:focus, .inputFormulario::placeholder, .inputFormulario:valid {
  color: #000;
} 

.mainContainer {
  display: flex;
  border: 1px solid red;
  width: 70%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.containerDataCard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 70%;
  text-align: left;
  padding-left: 2%;
}

.card {
  border: 1px solid black;
  width: 45%;
  height: 150px;
  border-radius: 10px;
  position: relative;
}

.card2 {
  display: flex;
  border: 1px solid black;
  width: 45%;
  height: 150px;
  border-radius: 10px;
  text-align: center;

}

.subContainerMoney {
  text-align: end;
  margin-right: 10px;
}

.subContainerES {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.subcontainerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 10px;
}

.subContainerRequestCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 50%;
  border-radius: 10px;
}
